:root{
    --azul:rgba(5,13,58);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*elementos base*/
body{
    background: var(--azul);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container{
    margin-right: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-top: 10px;
    width: 128px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/*filme principal*/
.filme-principal{
    font-size: 16px;
    background: url('/img/capa-spider_man.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 20px;
}

.filme-principal .titulo{
    margin-top: 5%;
    width: 40%;
    margin-bottom: 2%;
}

.content h4{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
}

.content h4 span{
    padding: 0 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.content h4 span:first-child{
    padding-left: 0;
}

.content h4 span:last-child{
    border-right: none;
}

.content h4 span i {
    background: rgb(251, 193, 21);
    color: #fff;
    padding: 0 8px;
    display: inline-block;
    font-style: normal;
    border-radius: 2px;
}

.botao{
    background-color: rgba(5,13,58,0.5);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-family: 12px;

    cursor: pointer;
}

.botao:hover{
    background-color: white;
    color: rgba(5,13,58);
    transition: 3s;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
}